@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$global-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$background-color: #002B36;

body {
    font-family: $global-font;
    background: $background-color;
}
